name: 'SG2262'
architecture: TPU_V7
process: 7nm
frequency_ghz: 1
align_bytes: 32
compute_dma_overlap_rate: 0.8
compute_efficiency: 0.9
cores:
  count: 4
  lanes_per_core: 64
compute_units:
  cube:
    m: 16
    k: 32
    n: 8
    mac_per_lane:
      INT8: 1000
      FP8: 1000
      BF16: 500
      FP16: 500
      TF32: 250
      INT4: 2000
  vector:
    eu_per_lane:
      INT8: 64
      FP8: 64
      INT16: 32
      BF16: 32
      FP16: 32
      INT32: 16
      FP32: 16
memory:
  gmem:
    type: LPDDR5
    capacity_gb: 64
    bandwidth_gbps: 273
    bandwidth_utilization: 0.85
    latency_ns: 100
  lmem:
    capacity_mb: 64
    bandwidth_gbps: 2000
    latency_ns: 1
    sram_utilization: 0.45
dma_engines:
  gdma:
    bandwidth_gbps: 68
    startup_latency_ns: 100
    efficiency: 0.9
interconnect:
  NoC:
    topology: Mesh
    bandwidth_gbps: 1000
    latency_ns: 10
