name: '11111'
architecture: TPU_V7
process: 7nm
frequency_ghz: 1
cores:
  count: 4
  lanes_per_core: 64
compute_units:
  cube:
    mac_per_lane:
      INT8: 1000
      FP8: 1000
      BF16: 500
      FP16: 500
      TF32: 250
      INT4: 2000
  vector:
    eu_per_lane:
      INT8: 64
      FP8: 64
      INT16: 32
      BF16: 32
      FP16: 32
      INT32: 16
      FP32: 16
memory:
  gmem:
    type: LPDDR5
    capacity_gb: 64
    bandwidth_gbps: 273
    latency_ns: 100
  l2m:
    capacity_mb: 64
    bandwidth_gbps: 1000
    latency_ns: 10
  lmem:
    capacity_mb: 64
    bandwidth_gbps: 2000
    latency_ns: 1
  smem:
    capacity_kb: 256
    bandwidth_gbps: 2000
    latency_ns: 1
dma_engines:
  gdma:
    bandwidth_gbps: 68
    startup_latency_ns: 100
    efficiency: 0.9
  sdma:
    bandwidth_gbps: 1000
    startup_latency_ns: 50
    efficiency: 0.95
interconnect:
  noc:
    topology: mesh
    bandwidth_gbps: 1000
    latency_ns: 10
